IPDTracker/Connected Services/IPDTrackerServiceReference/IPDTrackerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/IPDTrackerService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IPDTrackerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56102/IPDTrackerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfBillingEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BillingEntry" nillable="true" type="tns:BillingEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillingEntry" nillable="true" type="tns:ArrayOfBillingEntry" />
  <xs:complexType name="BillingEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillableDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BillableId" type="ser:guid" />
      <xs:element minOccurs="0" name="BillableTime" type="ser:duration" />
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingEntry" nillable="true" type="tns:BillingEntry" />
</xs:schema>